# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "3ea38032bd55fb833a9f5dfd0ca9d4d0"
name = "jarvis2.0"
handle = "jarvis2-0"
application_url = "https://jarvis2-0.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  uri = "/webhooks/customers/data_request"
  compliance_topics = [ "customers/data_request" ]

  [[webhooks.subscriptions]]
  uri = "/webhooks/customers/redact"
  compliance_topics = [ "customers/redact" ]

  [[webhooks.subscriptions]]
  uri = "/webhooks/shop/redact"
  compliance_topics = [ "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [ "app_purchases_one_time/update" ]
  uri = "/webhooks/app_purchases_one_time/update"

  [[webhooks.subscriptions]]
  topics = [ "app_subscriptions/update" ]
  uri = "/webhooks/app_subscriptions/update"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_discounts,read_fulfillments,read_orders,read_product_listings,read_products,write_discounts,write_payment_terms,write_products"

[auth]
redirect_urls = ["https://jarvis2-0.onrender.com/auth/callback", "https://jarvis2-0.onrender.com/auth/shopify/callback", "https://jarvis2-0.onrender.com/api/auth/callback"]

[app_proxy]
url = "https://jarvis2-0.onrender.com/a/jarvis-proxy"
subpath = "jarvis-proxy"
prefix = "a"

[pos]
embedded = false
