<div id="shopify-chatbot-widget"></div>
<script src="https://widget-frontend-6mo6.onrender.com/shopify_chatbot_widget.js" defer></script>
<link rel="stylesheet" href="https://widget-frontend-6mo6.onrender.com/shopify_chatbot_widget.css">

{% schema %}
{
  "name": "Chatbot Widget",
  "target": "body",
  "settings": []
}
{% endschema %} 